.typography-ellipsis-1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Número de linhas desejado */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.typography-ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Número de linhas desejado */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
